@import "tailwindcss";

:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 200 100% 66%;
  --primary-foreground: 240 10% 3.9%;
  --secondary: 240 4% 16%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 4% 16%;
  --accent-foreground: 0 0% 98%;
  --muted: 240 4% 16%;
  --muted-foreground: 240 5% 64.9%;
  --border: 240 4% 16%;
  --input: 240 4% 16%;
  --ring: 200 100% 66%;
  --radius: 0.5rem;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: "rlig" 1, "calt" 1;
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}
